body{ 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: baseline; 
     
} 
.container{ 
    background-color: #995DB5; 
    border-radius: 15px; 
    width: 200px; 
    height: 200px; 
    display: flex; 
    margin: 10px 10px 0 100px 
     
} 
.item{ 
    border: 1px solid black; 
    width: 35px; 
    height: 35px; 
    background-color: orange; 
    border-radius: 5px; 
    display: flex; 
    margin: 5px 0 5px 5px; 
}